@using Microsoft.FluentUI.AspNetCore.Components
@using System.Diagnostics
@page "/"

<PageTitle>Home</PageTitle>

<FluentCard>
  <h2>Application to manage cleanup of VTS simulations</h2>
  <p>Use the "Library" page to login and select the root folder to manage or add a new root folder to the clean-up
    process</p>
</FluentCard>